<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <div class="reset-password-container">
      <div class="reset-password-card">
        <div class="icon-container">
          <img src="../../assets/img/unlocked.jpg" alt="Warning Icon" />
        </div>
        <h2>Mot de passe oublié</h2>
        <p>
          Entrez vos nouvelles informations d'identification.
        </p>
        <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
          <div class="input-container">
            <i class="fa fa-lock lock-icon"></i>
            <input type="password" name="newPassword" [(ngModel)]="newPassword" placeholder="Nouveau mot de passe" required>
          </div>
          <div class="input-container">
            <i class="fa fa-lock lock-icon"></i>
            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirmer le nouveau mot de passe" required>
          </div>
          <div *ngIf="passwordMismatch" class="error">
            Les mots de passe ne correspondent pas.

          </div>
          <button type="submit" [disabled]="!resetForm.valid">Réinitialiser le mot de passe</button>
        </form>
        
        <a routerLink="/login" class="back-to-login"
          ><i class="fas fa-arrow-left"></i>Retour à connexion</a
        >
      </div>
    </div>
  </body>
</html>